In [43]:
import numpy as np
import pandas as pd

In [44]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [45]:
df_train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train.csv')
df_train

         Id  DistrictId  Rooms  ...  Shops_1  Shops_2          Price
0     11809          27    3.0  ...        0        B  305018.871089
1      3013          22    1.0  ...        0        B  177734.553407
2      8215           1    3.0  ...        1        B  282078.720850
3      2352           1    1.0  ...        1        B  168106.007630
4     13866          94    2.0  ...        6        B  343995.102962
...     ...         ...    ...  ...      ...      ...            ...
9995   1260          61    2.0  ...        9        B  119367.455796
9996  16265          27    2.0  ...        0        A  199715.148807
9997   2795         178    1.0  ...        5        B  165953.912580
9998  14561          21    1.0  ...        5        B  171842.411855
9999   7202          94    1.0  ...        9        B  177685.627486

[10000 rows x 20 columns]

1. Посчитать основные статистики по каждому признаку (минимальные, максимальные, средние значения). Сделать выводы об адекватности этих статистик.

In [46]:
sign_lst = []
min_lst = []
max_lst = []
mean_lst = []

for i in df_train:
  if i == "Id":
    continue
  sign_lst.append(i)
  is_int = df_train[i]
  try:
    min_lst.append(df_train[i].min())
    max_lst.append(df_train[i].max())
    mean_lst.append(df_train[i].mean())
  except TypeError:
    mean_lst.append(0)

df_train_min_max_mean = {
    "sign": sign_lst,
    "min": min_lst,
    "max": max_lst,
    "mean": mean_lst,
}

feature_statistics = pd.DataFrame(df_train_min_max_mean)
feature_statistics

             sign       min       max           mean
0      DistrictId         0       209      50.400800
1           Rooms         0        19       1.890500
2          Square   1.13686   641.065      56.315775
3      LifeSquare  0.370619   7480.59      37.199645
4   KitchenSquare         0      2014       6.273300
5           Floor         1        42       8.526700
6      HouseFloor         0       117      12.609400
7       HouseYear      1910  20052011    3990.166300
8       Ecology_1         0  0.521867       0.118858
9       Ecology_2         A         B       0.000000
10      Ecology_3         A         B       0.000000
11       Social_1         0        74      24.687000
12       Social_2       168     19083    5352.157400
13       Social_3         0       141       8.039200
14   Healthcare_1         0      4849    1142.904460
15    Helthcare_2         0         6       1.319500
16        Shops_1         0        23       4.231300
17        Shops_2         A         B       0.000000
18          Price   59174.8    633233  214138.857399

In [47]:
df_train.describe()

                Id    DistrictId  ...       Shops_1          Price
count  10000.00000  10000.000000  ...  10000.000000   10000.000000
mean    8383.40770     50.400800  ...      4.231300  214138.857399
std     4859.01902     43.587592  ...      4.806341   92872.293865
min        0.00000      0.000000  ...      0.000000   59174.778028
25%     4169.50000     20.000000  ...      1.000000  153872.633942
50%     8394.50000     36.000000  ...      3.000000  192269.644879
75%    12592.50000     75.000000  ...      6.000000  249135.462171
max    16798.00000    209.000000  ...     23.000000  633233.466570

[8 rows x 17 columns]

Rooms - есть выброс, столько комнат не бывает

Square - возможно выброс

LifeSquare - есть выброс, такой площади не бывает

KitchenSquare - есть выброс, такой площади не бывает

HouseYear - определенно выброс

Social_2 - возможно выброс

Healthcare_1 - возможно выбросы

2. Посчитать для каждого признака, сколько в нем уникальных значений и как часто они встречаются. Сделать выводы по каждому признаку.

In [48]:
for i in df_train:
  if i == "Id" or i == "Price":
    continue
  print(df_train[i].value_counts(), "\n------------------------------")

27     851
1      652
23     565
6      511
9      294
      ...
199      1
205      1
174      1
209      1
207      1
Name: DistrictId, Length: 205, dtype: int64
------------------------------
2.0     3880
1.0     3705
3.0     2235
4.0      150
5.0       18
0.0        8
10.0       2
19.0       1
6.0        1
Name: Rooms, dtype: int64
------------------------------
26.553188     1
46.363496     1
100.751999    1
70.726600     1
40.523022     1
             ..
76.481158     1
86.915187     1
82.482521     1
43.112986     1
97.664912     1
Name: Square, Length: 10000, dtype: int64
------------------------------
28.003539    1
19.224066    1
21.613298    1
25.688943    1
44.662105    1
            ..
37.980219    1
17.130385    1
33.273700    1
28.313300    1
28.421652    1
Name: LifeSquare, Length: 7887, dtype: int64
------------------------------
1.0       2460
8.0       1306
5.0       1169
10.0      1075
6.0       1038
9.0        843
0.0        697
7.0        609
12.0       249
11.0       233
13.0        67
14.0        51
4.0         39
15.0        31
3.0         22
16.0        16
20.0        14
17.0        12
19.0        11
18.0         6
2.0          4
22.0         3
43.0         2
112.0        2
41.0         2
32.0         2
58.0         2
25.0         2
37.0         2
30.0         2
51.0         2
40.0         1
96.0         1
48.0         1
72.0         1
73.0         1
2014.0       1
66.0         1
36.0         1
78.0         1
54.0         1
29.0         1
31.0         1
35.0         1
62.0         1
39.0         1
1970.0       1
60.0         1
75.0         1
26.0         1
21.0         1
84.0         1
63.0         1
123.0        1
53.0         1
42.0         1
23.0         1
27.0         1
Name: KitchenSquare, dtype: int64
------------------------------
4     949
5     876
3     872
6     802
7     759
8     643
9     604
2     588
10    553
11    457
12    438
13    398
14    362
16    290
15    287
17    256
1     235
18    185
19    121
20     68
21     59
22     54
24     53
25     34
23     25
26     18
27      5
28      3
32      2
42      1
33      1
37      1
31      1
Name: Floor, dtype: int64
------------------------------
17.0     2331
9.0      1389
12.0     1074
5.0      1031
14.0      625
16.0      576
1.0       497
25.0      374
22.0      343
0.0       269
24.0      176
8.0       141
10.0      135
4.0       134
3.0       127
15.0      123
19.0      108
20.0      105
18.0       89
7.0        59
6.0        58
2.0        48
23.0       40
21.0       33
11.0       28
13.0       27
30.0       21
40.0        7
27.0        6
32.0        4
37.0        4
28.0        3
99.0        2
48.0        2
39.0        2
44.0        1
36.0        1
26.0        1
45.0        1
29.0        1
38.0        1
47.0        1
117.0       1
31.0        1
Name: HouseFloor, dtype: int64
------------------------------
1977        2652
2017         308
2016         305
2015         299
2014         210
            ...
1947           1
1916           1
1910           1
1928           1
20052011       1
Name: HouseYear, Length: 97, dtype: int64
------------------------------
0.007122    587
0.000000    537
0.243205    511
0.072158    486
0.075779    346
           ...
0.386772      6
0.011320      3
0.394094      2
0.012522      1
0.014334      1
Name: Ecology_1, Length: 129, dtype: int64
------------------------------
B    9903
A      97
Name: Ecology_2, dtype: int64
------------------------------
B    9725
A     275
Name: Ecology_3, dtype: int64
------------------------------
2     688
1     654
25    557
5     528
30    465
23    434
6     377
22    367
53    355
34    311
33    252
46    245
31    243
43    238
9     213
36    209
21    207
37    205
24    205
52    201
0     201
35    200
47    177
74    176
39    159
27    151
28    144
4     141
11    138
42    129
26    127
16    123
19    118
66     99
17     96
49     95
18     92
32     87
41     83
50     79
29     70
38     64
8      62
15     51
20     50
14     46
10     24
13     22
12     18
7      15
3       9
Name: Social_1, dtype: int64
------------------------------
264     587
1564    511
629     486
1437    346
6398    245
       ...
568       3
1423      3
662       2
507       1
528       1
Name: Social_2, Length: 142, dtype: int64
------------------------------
0      2997
1      1861
3      1136
4       835
2       635
6       423
5       391
141     245
9       192
7       184
11      172
8       170
10      142
16      101
14       97
27       59
48       58
56       49
84       43
24       37
87       27
59       25
93       25
19       22
20       19
23       18
39       15
73       10
45        9
37        3
Name: Social_3, dtype: int64
------------------------------
540.0     511
30.0      348
1046.0    245
750.0     163
229.0     148
         ...
370.0      14
32.0       12
1815.0     10
35.0        2
0.0         1
Name: Healthcare_1, Length: 79, dtype: int64
------------------------------
0    4214
1    2183
3    1670
2    1158
5     388
4     288
6      99
Name: Helthcare_2, dtype: int64
------------------------------
0     2316
1     1325
5     1324
2      964
4      841
3      711
6      487
11     401
9      316
7      294
8      253
23     245
10     215
15     176
16      83
19      49
Name: Shops_1, dtype: int64
------------------------------
B    9175
A     825
Name: Shops_2, dtype: int64
------------------------------

Rooms - наблюдаем 3 неадекватных значения: 0, 10, 19

KitchenSquare, HouseFloor - тоже есть значения-выбросы, но их не так много

HouseYear - всего одно не корректное значение

3. Используя выводы из двух предыдущих заданий, найдите те наблюдения, где есть пропуски, выбросы (неадекватные значения признака, которые отличаются от большинства), используя фильтрацию из pandas.

In [49]:
df_train[df_train["Rooms"] > 6]

         Id  DistrictId  Rooms  ...  Shops_1  Shops_2          Price
2004   5927          57   10.0  ...       15        B  317265.323792
2728  14865           9   10.0  ...        4        B  172329.270863
6088   8491           1   19.0  ...        1        B   78364.616704

[3 rows x 20 columns]

In [50]:
# df_train["Rooms_outlier"] = 0
# df_train.loc[df_train["Rooms"] > 6, "Rooms_outlier"] = 1

In [51]:
df_train.query("Rooms <= 6 and Rooms != 0", inplace = True)
df_train.query("LifeSquare <= 1000", inplace = True)
df_train.query("KitchenSquare <= 100", inplace = True)
df_train.query("HouseYear <= 2021", inplace = True)